@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes wheel {
  0% {
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotateZ(720deg) translate3d(0, 0, 0);
  }
}
.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 1s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading_wheel {
  display: flex;
  width: 5em;
  justify-content: space-between;
}
.loading_dot {
  height: 2em;
  width: 1em;
  border-radius: 1em;
  animation: wheel 1s linear infinite;
  animation-iteration-count: 1;
}
.loading_dot--1 {
  background-color: #9356DC;
}
.loading_dot--2 {
  background-color: #FF79DA;
  animation-delay: 0.3s;
}
.loading_dot--3 {
  background-color: #99E2D0;
  animation-delay: 0.55s;
}

.localisation {
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: #f3f3f3;
  font-size: 1.2em;
}
.localisation_icon {
  margin-right: 1em;
}
.localisation_text {
  font-weight: 700;
}

.explain {
  padding: 2em;
  text-align: center;
  background-color: #fafafa;
}
.explain_title {
  margin: 0;
}
.explain_subtitle {
  font-weight: 300;
  margin: 1.5em 0;
}
.explain_btn {
  border: 0;
  padding: 0.75em 1.5em;
  font-weight: 500;
  font-size: 1.1em;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 0.25em 0.25em 10px rgba(0, 0, 0, 0.25);
}

.tutorial {
  padding: 2em 1em 2em 1em;
}
.tutorial_content {
  max-width: 1280px;
  margin: auto;
  position: relative;
}
.tutorial_title {
  margin-top: 0;
}
.tutorial_steps {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tutorial_step {
  padding: 1.5em;
  margin: 1em 0 1em 0.75em;
  box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.15);
  border-radius: 1.25em;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}
.tutorial_step span {
  margin-left: 1em;
}
.tutorial_number {
  background-color: #9356DC;
  height: 1.5em;
  width: 1.5em;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #fff;
  left: -1.75em;
}
.tutorial_icon {
  margin-right: 1em;
  color: #7e7e7e;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2em 1em;
}
.restaurants_content {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.res_card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-decoration: none;
}
.res_card_fig {
  background-color: #fff;
  border-radius: 1em;
  position: relative;
  color: black;
  display: block;
  margin: 0 0 2em 0;
}
.res_card_img {
  height: 12em;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1em 1em 0 0;
  box-shadow: none;
  object-fit: cover;
}
.res_card_badge {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5em;
  border-radius: 0.125em;
  position: absolute;
  top: 1em;
  right: 0.75em;
}
.res_card_btn {
  height: 2em;
  width: 2em;
  display: flex;
}
.res_card_icon {
  font-size: 1.7em;
}
.res_card_icon:hover {
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
}
.res_card_foot {
  padding: 1em;
  position: relative;
  display: flex;
  align-items: center;
}
.res_card_content {
  flex: 1;
}
.res_card_title {
  margin: 0 0 0.25em;
}
.res_card_subtitle {
  margin: 0;
}

.header {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 1em;
  position: relative;
}
.header_logo {
  font-family: Shrikhand, "cursive";
  text-align: center;
  margin: 0;
}

.footer {
  background-color: #353535;
}
.footer_content {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.footer_logo {
  color: #fff;
  font-family: Shrikhand, "cursive";
  font-size: 1.2em;
  margin: 0 0 1em;
}
.footer_list {
  list-style: none;
  padding: 0%;
  margin: 0%;
}
.footer_list li {
  margin: 0.8em 0;
}
.footer_link {
  text-decoration: none;
  color: #fff;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

/*# sourceMappingURL=style_accueil.css.map */
