.loading{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsla(0, 0%, 100%, 0.9);
    animation: loader .01s;
    animation-delay: 1s;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;

        &_wheel{
            display: flex;
            width: 5em;
            justify-content: space-between;
        }
        &_dot{
            height: 2em;
            width: 1em;
            border-radius: 1em;
            animation: wheel 1s linear infinite;
            animation-iteration-count: 1;
        }

        &_dot--1{
            background-color: $colour-primary;
        }
        &_dot--2{
            background-color: $colour-secondary;
            animation-delay: 0.3s;
        }
        &_dot--3{
            background-color: $colour-tertiary;
            animation-delay: 0.55s;
        }

}





.localisation{
    display: flex;
    justify-content: center;
    padding: 1em ;
    background-color: #f3f3f3;
    font-size: 1.2em;

    &_icon{
        margin-right: 1em;
    }

    &_text{
        font-weight: 700;
    }
}

.explain{

    padding: 2em;
    text-align: center;
    background-color: #fafafa;

    &_title{
        margin: 0;
    }
    &_subtitle{
        font-weight: 300;
        margin: 1.5em 0;
    }

    &_btn{
        @include button;
    }
    
}

.tutorial{
    padding: 2em 1em 2em 1em;

    &_content{
        max-width: 1280px;
        margin: auto;
        position: relative;
    }
    &_title{
        margin-top: 0;
    }
    &_steps{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &_step{
        padding: 1.5em;
        margin: 1em 0 1em 0.75em;
        box-shadow: 0.25em 0.25em 0.5em rgb(0 0 0/ 15%);
        border-radius: 1.25em;
        background-color: #f6f6f6;
        display: flex;
        position: relative;

        & span{
            margin-left: 1em;
        }
    }
    &_number{
        background-color: $colour-primary;
        height: 1.5em;
        width: 1.5em;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        color: #fff;
        left: -1.75em;

    }

    &_icon{
        margin-right: 1em;
        color: #7e7e7e;
    }

}
.restaurants{
    background-color: #f6f6f6;
    padding: 2em 1em;
    
    &_content{
        max-width: 1280px;
        margin: auto;
        position: relative;
    }
}

.res_card{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;

    &_fig{
        background-color: #fff;
        border-radius: 1em;
        position: relative;
        
        display: block;
        margin: 0 0 2em 0;
    }
    &_img{
        height: 12em;
        width: 100%;
        border: 0 solid transparent;
        border-radius: 1em 1em 0 0;
        box-shadow: none;
        object-fit: cover;
    }

    &_badge{
        background-color: $colour-tertiary;
        color: #1b6150;
        padding: 0.5em;
        border-radius: 0.125em;
        position: absolute;
        top: 1em;
        right: 0.75em;
    }

    &_btn{
        height: 2em;
        width: 2em;
        display: flex;
        position: relative;
        border: 0 solid transparent;
        padding: 0;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
    }
    &_btn:before{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

    }
    &_icon{
        opacity: 1;
        
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        color: black;
        &:hover{
            z-index: -10;
        }

    }
    &_icon--like{
        opacity: 0;
        font-size: 2em;
        &:hover{
            transition: 0.25s;
            opacity: 1;
            background: -webkit-linear-gradient(0deg, 
            $colour-primary,
            $colour-secondary)
            ;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        position: absolute;
    }
 
    &_foot{
        padding: 1em;
        position: relative;
        display:flex;
        align-items: center;
    }
    &_content{
        flex: 1;
        color: black;
    }
    &_title{
        margin: 0 0 0.25em;
    }
    &_subtitle{
        margin: 0;
    }
}


@media all and (min-width: 900px)
{
    .tutorial{

        &_steps{
            display: flex;
            flex-flow: row;
            justify-content: space-evenly;
            
        }
    }

    .res{

        &_cards{
            display: flex;
            flex-direction: row;
            flex-flow: wrap;
        }

        &_card{
            width: 50%;

            &_fig{
                width: 70%;
            }
            &_img{
                height: 20em;
            }
        }
    }

    
}
